body{
font-family:Verdana;
font-size:20px;
background-color:#efefef;
}
header, footer{
	text-align:center;
	margin:15px;
}
h1{
	font-size:30px;
	color:blue;
	padding-bottom:5px;
	border-bottom:2px solid red;
}
h2{
	font-size:27px;
	color:#ff8494;
	
}
h3{
	font-size:25px;
	color:orange;
	
}

p{
	padding-top:5px;
	line-height:1.5em;
	width:95%;
}
ul {
  /*list-style-type: none;*/
  margin: 0;
  padding: 0;
  width: 500px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}
br {
	clear:both;
}

